<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="de.chojo.logutil.appender" strict="true">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--
            <PatternLayout pattern="[%t] %m{nolookups} %n"/>
            -->
            <PatternLayout pattern="[%t] %m %n"/>
        </Console>
        <DiscordWebhook
                name="DiscordWebhook"
                url="https://discord.com/api/webhooks/1030738663455342622/JK5mVSp_him1yEBm63V0UPFlAYpAyFIovO-l4hDLdhEbDAA9hknqjiKnFYF7m3bTNFVf"
                ignoreExceptions="false"
        />
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="DiscordWebhook"/>
        </Root>
    </Loggers>
</Configuration>